server:
  port: ${PORT:8081}
  forward-headers-strategy: native

spring:
  application:
    name: approval-service
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/approval_service}
  management:
    endpoints:
      web:
        exposure:
          include: health,info,metrics
    endpoint:
      health:
        show-details: always
        probes:
          enabled: true
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
  server-variable:
    protocol: https

logging:
  level:
    com.bom.approval: DEBUG
    org.springframework.data.mongodb: DEBUG
